---
Checks: >
    bugprone-*,
    cert-*,
    clang-analyzer-*,
    clang-diagnostic-*,
    cppcoreguidelines-*,
    hicpp-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-owning-memory,
    -hicpp-special-member-functions,
    -misc-include-cleaner,
    -misc-no-recursion,
    -modernize-pass-by-value,
    -modernize-use-trailing-return-type,
    -performance-enum-size,
    -readability-magic-numbers,
CheckOptions:
  - key:   cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: true
  - key:   misc-const-correctness.AnalyzeValues
    value: false
  - key:   readability-identifier-length.IgnoredLoopCounterNames
    value: ^[cijk_]$
  - key:   readability-identifier-length.MinimumVariableNameLength
    value: 1
  - key:   readability-identifier-length.MinimumParameterNameLength
    value: 1
  - key:   readability-implicit-bool-conversion.AllowPointerConditions
    value: true
HeaderFilterRegex: .*
