---
Language:        Cpp
BasedOnStyle:  LLVM
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit:     80
IndentWidth:     4
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
Standard:        c++11
...
